.boost{
    background-color: rgb(152, 2, 147);
    color: #eee;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .3s;
}
.boost:disabled{
    background-color: #444;
    cursor:not-allowed;
}

.boost:hover{
    opacity: .8;
}