.wrapper {
    min-height: 100vh;
    background-image: url(../../images/Village_1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    display: grid;
    grid-template-columns: 33% 64%;
    grid-template-rows: 100px 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 10px;
}

.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;
}

.arrow {

    position: relative;
}

.arrow>img {
    transform: rotateY(180deg);
    transition: .3s;

}

.arrow span {
    position: absolute;
    top: 20px;
    left: 50px;
    text-decoration: none;
    text-transform: none;
    color: #eee;
}

.arrow:hover>img {
    transform: scale(1.1) rotateY(180deg);
}

.coins {
    top: 20px;
    left: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(249, 216, 3);
    background-color: rgb(62, 61, 61);
    border-radius: 8px;
    width: fit-content;

}

.team, .shop {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team>h3, .shop>h3 {
    text-align: center;
    font-size: 2rem;
}

.team {
    grid-area: 2 / 1 / 3 / 2;

}

.shop {
    margin-top: 80px;
    grid-area: 2 / 2 / 3 / 3;
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* width: fit-content;
    align-items: center;
    gap: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; */
}


.shop>div {
    width: 40%;
}

.shop>h3 {
    text-align: center;
    font-size: 2rem;
}

.add {
    border: none;
    background-color: rgb(249, 216, 3);
    color: #222;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.add:disabled {
    background-color: #222;
    color: #eee;
    cursor: default;
}

@media (max-width:950px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .shop {
        flex-direction: column;
        align-items: center;
    }

    .shop>div {
        width: auto;
    }
}