.wrapper{
    display: flex;
    min-height: 200px;
    border: 2px solid #ccc;
    padding: 40px;
    justify-content: space-between;
}

.wrapper > div {
    display: flex;
    flex-direction: column;
    gap:30px
}